* {
    /*Is this necessary?*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bi-google {
  color: red;
}

html,body
{
  /*Removes white space on the right of the page: https://stackoverflow.com/questions/4617872/white-space-showing-up-on-right-side-of-page-when-background-image-should-extend */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.topNav {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 60px;
  top: 0px;
  left: 0px;
  background: #3ed139;
  color: #fff;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5;
  /*border: 1px solid red;*/
  will-change: transform;
}


.profile-description {
  width: 90%;
  height: 100px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 5px;
  background: #FAF9F6;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  border: 1px solid yellow;
  border: 1px, rgb(177, 177, 177);
  border-color :rgb(209, 209, 209);

}

.create-profile-content {
  margin: auto;
  margin-top: 60px;
  width: 100%;

  border: 1px solid blue;
}

.create-profile-content-inner {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.MapContainer{
  margin-top: 60px;
  margin-left: 2%;
  border: 1px solid red;

}
.Map{
  background: #2f3f47;
  margin-right: 25px;
}
.CampusMap{

}

.topNav-mobile {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 60px;
    top: 0px;
    left: 0px;
    background: #177ea7;
    color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    z-index: 5;
    /*border: 1px solid red;*/
}

.verify{
  font-size: 20px;
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif ;
}

.topNav2 {
  /*This element is used to push the topNavCategories and keep them in place*/
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(107, 105, 105, 0.25);
  z-index: 4;
  border-radius: 10px;
}
.topNav3{
  /*This element is used to push the topNavCategories and keep them in place*/
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  height: 60px;
  background: rgba(3, 172, 240, 0.2);
  z-index: 2;
  /*border: 1px solid yellow;*/
}

.topnav3Clone {/*border: 1px solid pink;*/}

.topNavCategories {
  /*don't use this for style, use topNavCatGrid as it is responsive.*/
  position: fixed;
  /*background-color: #acacad;*/
  top: 60px;
  width: 100%;
  background-color: transparent;
  height: 35px;
  z-index: 4;
  /*border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

/*@media (max-width:400px){
  .topNavCategories {
    height: 80px;
  }
}*/
.topNavCatGrid {
    background-color: #acacad;
    display: flex;
    /*justify-content: space-evenly;
    grid-template-columns: 15% 15% 15% 15% 15%;*/
    padding-left: 9px;
    padding-top: 9px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
.topNavCatGridTransparent{
    /*Navbar that contains home button and sell button-->*/
    display: flex;
    justify-content: flex-end;
    grid-template-columns: 10% 10% 10% 10%;
    padding-top: 9px;
    position: relative;
    text-align: center;
    padding-left: 20px;

  }

.topNavCat {
  font-family: Roboto;
  color: black;
  margin: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  text-shadow: 1px 1px #fff;
}

.topNavCat:hover {
  transform: scale(1.05);
}

.left-col {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 85px;
    height: 40px;
    /*background: red;*/
    margin-left: 20px;
    background: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 42px;
    color: rgb(37, 98, 155);

    border: none;
    text-decoration: none;
}

.logo:hover {
  color:black;
  cursor: pointer;
}

.logo:hover{
  transform: scale(1.2);
}

.right-text {
  width: 150px;
  height: 40px;
  /*background: red;*/
  margin-left: 10px;
  background: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  color: #fff;

  border: none;
  text-decoration: none;
}

.right-text:hover {
color:black;
cursor: pointer;
}

.right-text:hover{
transform: scale(1.05);
}

.NavBar2Items{
  margin-right: 20px;
  padding:5px;
  border-width:5px;
  border-style:solid;
  background-color: #bfbfbf;
  border-radius: 5px;
  border-color:#bfbfbf;
}

.box {
    width: 80px;
    height: 40px;
    margin-left: 50px;
    background: pink;
}

.optionsBG {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: #D9D6D6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    /**box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);**/
    -webkit-appearance: button;
    appearance: button;
}


.search-div {
    width: 350px;
    height: 40px;
    /*background: yellow;*/
    margin-left: 40px;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-box {
    background: #643fef;
    position: relative;
    padding: 15px;
    border-radius: 50px;
    display: flex;
}

.searchButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #D9D6D6;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    color: #000;
    margin-left: 15px;
    cursor: pointer;
    border: none;
    outline: none;
}

.searchButton:hover {
  background: grey;
}

.search {
    width: 250px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    outline: none;
    border-radius: 40px;
}

.search:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.right-col {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.icon:hover {
  background: grey;
}

.profile {
    margin-right: 10px;
    background: #D9D6D6;
}

.bookmark {
    background: #D9D6D6;
}

.help {
    background: #D9D6D6;
}



.location{
    position: absolute;
    width: 183px;
    height: 41px;
    left: 164px;
    top: 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;

}

/*Footer stuff */

.btn-footer {
  border: 1px solid #fff;
}

.site-footer
{
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:#0d435e;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;
  /*border: 1px solid red;*/
  z-index: 3;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5

}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#000000;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
  /*border: 1px solid yellow;*/
  z-index: 3;
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#000000
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/***** LANDING PAGE STUFF *****/
.topInfoGrid {
  top :10%;
  /*grid-template-rows: 50% 50%;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
}

.info1-div {
  display: flex;
  flex-direction: row;
}

.info-text-mobile {
  /*border: 1px solid pink;*/
}

.info1 {
  display: grid;
  grid-template-columns: 40% 55% 5%;
  width: 100%;
  height: 100%;
  /*border: 1px solid red;*/
}

.info1-image-div {}

.info-img {
  margin-top: 10%;
  margin-left: 15%;
  width: 80%;
  display: inline-block;
}

.info-text {
  font-size: 30px;
  margin-top: 8%;
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif ;

}
.registerNow {
  color: rgb(23, 97, 107);
  font-family: 'Hammersmith One', sans-serif;
  margin-right: 8px;
  text-decoration: none;
  background: Transparent;
  border: none;
  vertical-align: left;
}

.info-text2 {
  margin-left: 10%;
  font-size: 30px;
  margin-top: 15%;
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif
}

.info2 {
  display: grid;
  grid-template-columns: 55% 40% 5%;
  width: 100%;
  height: 100%;
  /*border: 1px solid black;*/
}

/***FOR MOBILE***/

.topInfoGrid-mobile {
  top :10%;
  display: grid;
  flex-direction: column;
  grid-template-rows: 25% 25% 25% 25%;
  width: 100%;
  /*height: 100%;*/
}

.info1-mobile {
  /*display: grid;*/
  grid-template-rows: 55% 45% ;
  width: 100%;
  /*height: 100%;*/
  margin: auto;
  border: 1px solid black;
}
.info-text-mobile {
  width: 100%;
  font-size: 15px;
  margin:auto;
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif;
  padding: 8px;
  vertical-align: middle;
  text-align: center;
}
.info-text2-mobile {
  width: 100%;
  font-size: 15px;
  margin:auto;

  display: inline-block;
  font-family: 'Hammersmith One', sans-serif;
  padding: 8px;
  vertical-align: middle;
  text-align: center;
}
.info2-mobile {
  /*display: grid;*/
  grid-template-rows: 65% 55%;
  width: 100%;
  /*height: 100%;*/
  /*border: 1px solid green;*/
}
.info-img-mobile {
  margin: auto;
  width: 50%;
  display: block;
}

.landing-topImage-mobile {
  width: 100%;
  height: 40%;
  margin: auto;
  margin-bottom: 10%;
  margin-top: 15%;
  display: grid;
  grid-template-rows: 50% 50%;
  /*border: 1px solid black;*/
}

.space{
  width: 100%;
  height: 50px;
}

.top-text1-mobile {
  display: block;
  margin: auto;
  width: 90%;
  font-size: 24px;
  font-family: 'Hammersmith One', sans-serif;
  color: #000;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Hammersmith One', sans-serif;
  color: #eb920e;
<<<<<<< HEAD
  /*border: 1px solid black;*/
=======
>>>>>>> dcd6db8a5d77081c5e89aa151150c003604dbffd
>>>>>>> 69771f6631bcdae7603db79b9da17dc700eb063d
}

.top-text2-mobile {
  font-size: 28px;
  font-family: roboto;
  color: #eb920e;
}
.top-image-mobile {
  width: 100%;
  justify-content: center;
}
.top-img-mobile {
  display: block;
  width: 40%;
  margin: auto;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 50%;
  margin-top: 120px;
  /*max-width: 1442px;
  max-height: 500px;*/
  position: relative;
  /*border: 1px solid yellow;*/
}

.slideImg {
  object-fit: cover;
  width: 100%;
  height: auto;
}
/* Hide the images by default */
.mySlides {
  object-fit: cover;
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/*
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideImg {
  object-fit: cover;
  height: 80%;
}


.landing-card {
  border: none;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  margin-left: 30px;
  border-radius: 5px;
  background-color: white;
  text-align : left;
  border: 1px, rgb(177, 177, 177);
  border-color :rgb(209, 209, 209);
  }

  .card-img-top {
    /*margin-left: auto;
    margin-right: auto;*/
    width: 80%;
    height: 150px;
    object-fit: cover;
    left: 20px;
    margin: auto;
    vertical-align: middle;
  }

  .card-body{
    overflow: hidden;
    padding: 5px;

  }

  .card-title-categories {
    word-break:all ;
    font-size: 18px;
    margin: auto;
  }

  .landing-more {
    color: rgb(12, 134, 150);
    font-family: Roboto;
    font-size: 18px;
    text-decoration: underline;
    background: Transparent;
    border: none;
    margin-left: 30px;
    margin-top: 145px;

  }

  .landing-listings {
    border-radius: 5px;
    width: 90%;
    background-color: #e1e2e4;
    margin: auto;
    border: 1px, rgb(177, 177, 177);
    border-color :rgb(209, 209, 209);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .image-container-listing {
    width: 100%;
    height: 150px;
  }

  .card-listing {
    border: none;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    margin-left: 30px;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    text-align : left;
    border: 1px, rgb(177, 177, 177);
    border-color :rgb(209, 209, 209);
    /*border: 1px solid red;*/
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;

  }

  .shop-in {
    margin-top: 30px;
    margin-left: 55px;
    font-size: 24px;
    top:50px;
    height: 50px;
    /*text-decoration: underline;*/
    /*text-align: center;*/
  }

.navLink {
  display: inline-block;
  color: white;
  font-family: Roboto;
  margin-right: 15px;
  text-decoration: none;
  background: Transparent;
  border: none;
}
.navLink:hover {
  color:black;
  cursor: pointer;
}

  .card-img-top-listing {
    margin: auto;
    /*margin-left: auto;
    margin-right: auto;*/
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
.card-body-listing {
  overflow: hidden;
  padding: 5px;
}

.card-bookmark{
  overflow: hidden;
  padding: 5px;
  position: relative;

  border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin-left: 30px;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    text-align : left;
    border: 1px, rgb(177, 177, 177);
    border-color :rgb(209, 209, 209);
}
.bookmark-btn {
  display: inline-block;
  color: #177ea7;
  font-family: Roboto;
  margin-right: 15px;
  text-decoration: none;
  background: Transparent;
  border: none;
  font-size: 18px;
}
.bookmark-btn:hover {
  color:black;
  cursor: pointer;
}



  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    border-radius: 18px;
    background-color: white;
  }

.categoryName {
    position: relative;
    width: 217px;
    height: 45px;
    left: 28px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}

  .btn-primary {          /*submit*/
    position: relative;
    width: 80%;
    height: 47px;
    bottom: 5%;
    border: #74B9E0;
    /*background: #74B9E0;*/
    /*border-radius: 10px;*/
  }

  .btn-primary:hover {
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    background: #74B9E0;
  }

  .btn{
    margin: auto;
    color:black;
    /*background-color: #fff;*/
    border-radius: 5px;
    border-style:solid;
    /*border-color:black;*/
    border-width: 2px;
    /*outline-color: black;*/
  }
  .btn:hover{
    background-color: #b1b1b1;
  }
  .btn:active{
    background-color: #808080;
  }
  .btn:visited{
    color:black;
    /*background-color: #fff;*/
    border-radius: 5px;
    border-style:solid;
    border-color:black;
    border-width: 2px;
    /*outline-color: black;*/
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*grid-template-columns: auto auto auto;
    /*bottom: 40px;*/
    padding: 10px;
    grid-row-gap: 50px;
    /*border: 1px solid yellow;*/
  }

  .listings-body {
    margin-top: 99px;
    /*left: 0;*/
    width: 100%;
    /*display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    /*border: 1px solid violet;*/
  }

  .sidenav {
    /*float: left;*/
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    /*background: green;*/
  }

  .maincontainer {
    left: 300px;
    width: 100%;
    align-content: center;
    height: 100%;
    /*overflow: auto;*/
    border-left: 3px solid #b4b4b4;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
  }

  .gridListings {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    grid-template-columns: 10px 10px 10px;
    padding-left: 10px;
    grid-row-gap: 30px;
    padding-bottom: 20px;
    margin-left: 30px;
    /*border: 1px solid red;*/
  }

  .landing-maincontainer {
      width: 100%;
      margin-top: 95px;
      left: 0px;
      right: 0;

      display: flex;
      flex-direction: column;
      /*overflow: auto;*/
      /*border: 1px solid green;*/
  }

  .landing-topImage {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    /*border: 1px solid pink;*/
  }

  .top-text1 {

    font-size: 30px;
    font-family: 'Hammersmith One', sans-serif;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 175px 20px 175px 20px;
    /*border:1px solid green;*/
  }

  .top-text1-image {
    width: 80%;
    /*border: 1px solid violet;*/
  }


  .top-img {
    width: 80%;
    margin-bottom: 20%;
  }

  .register-as-seller {
    position: relative;
    width: 80%;
    height: 65%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    border: 1px, rgb(177, 177, 177);
    border-color :rgb(209, 209, 209);
    font-family: Roboto;
    font-size: 18px;
    padding: 20px;
  }

.catName {
    /*position: relative;*/
    width: 100%;
    height: 50px;
    margin-left: 20px;
    top:0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    /*line-height: 42px;
    text-align: left;*/
    padding-left: 15px;

    color: #000000;
    /*border: 1px solid red;*/
}

.filters {
  /*position: relative;*/
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  text-align: left;
  color: #000000;

}

.filter-btn {
  width: 70px;
  height: 40px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  font-weight: 10px;
  background: #fff;
  border: 2px solid #000;
}

.filter-btn:hover {
  color: black;
}

.line {
    /*position: relative;*/
    width: 95%;
    /*height: 0px;*/
    margin-left: 15px;
    /*top: -35px;
    overflow: hidden;*/


    border: 1px solid #000000;
}

.line2 {
    /*position: relative;*/
    width: 95%;
    height: 0px;
    margin-top: 24px;
    /*top: -6px;
    text-align: left;
    left: 0px;*/
    border: 1px solid #000000;
}


/*CSS for registration*/
.main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
    box-sizing: border-box;
    z-index: 10;
}

.innerBox {
    position: absolute;
    width: 1226px;
    height: 798px;
    text-align: center;
    top: 50px;

    background: #FFFFFF;
    border-radius: 71px;
}

.profilePic {
  position: relative;
  width: 10%;

  left: 17%;


}


/********************************MOBILE VIEW*********************************/

.navbar {
    display: none;
}

/*(max-width: 768px)*/
@media only screen and (max-width: 970px) {

  .navLink {
    display: none;
  }

    .icon {
        display: none;
    }

        .navbar {
        width: 100%;
        height: 100%;
        background-color: #262626;
        opacity: 0.9;
        position: fixed;
        top: 0;
        right: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    }

    .change {
        right: 0;
    }

    .hamburger-menu {
        width: 35px;
        height: 30px;
        position: fixed;
        top: 15px;
        right: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .ham-line {
        width: 100%;
        height: 2px;
        background-color: #D9D6D6;
        transition: all 0.8s;
    }

    .change .line-1 {
        transform: rotateZ(-405deg) translate(-8px, 6px);
    }

    .change .line-2 {
        opacity: 0;
    }

    .change .line-3 {
        transform: rotateZ(405deg) translate(-8px, -6px);
    }

    .nav-list{
        text-align: right;
    }

    .nav-item {
        list-style: none;
        margin: 25px;
    }

    .nav-item:hover {
        text-shadow: .5px 0.5px #fff;
        color: white;
    }

    .nav-link {
        text-decoration: none;
        font-size: 22px;
        color: #eee;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .search-icon {
        width: 30px;
        height: 30px;
        margin-right: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #D9D6D6;
        background: red;
        border-radius: 50%;
        display: none;
    }

    .buyer-email {
      width: 100%;
    }
}


.maincontainer-mobile{display: none;}
.landing-maincontainer-mobile{display: none;}
.slideshow-container-mobile{display: none;}
.topNav2{display: none;}
.landing-topImage-mobile{display: none;}
.selected-content-mobile{display: none;}
.topNavCatGridTransparent{display: none;}

.topNav3{display: none;}
.createListing-container-mobile{display: none;}
.login-wrap{
  width:100%;
  margin:auto;
  max-width:525px;
  min-height:670px;
  position:relative;
  background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  /*border: 1px solid red;*/
  display: none;
}
.login-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:60px 70px 50px 70px;
  background:rgba(40,57,101,.9);
  /*border: 1px solid white;*/
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
  display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:#fff;
  border-color:#1161ee;
}
.login-form{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width:100%;
  color:#fff;
  display:block;
}
.login-form .group .input,
.login-form .group .button{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(255,255,255,.1);
}

.login-form .group .input {
  height: 35px;
}

.login-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:#aaa;
  font-size:12px;
}
.login-form .group .button{
  text-align: center;
  background:#1161ee;
}
.login-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
  color:#fff;
}
.login-form .group .check:checked + label .icon{
  background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  transform:rotate(0);
}

.hr{
  height:2px;
  margin:60px 0 30px 0;
  background:rgba(255,255,255,.2);
}

.hr2 {
  height:2px;
  margin:30px 0 30px 0;
  background:rgba(255,255,255,.2);
}
.foot-lnk{
  text-align:center;
}

/************************ END OF MOBILE VIEW FORM ***********************************/

@media only screen and (max-width: 650px) {
  .box {
    display: none;
  }

  .search-div {
      display: none;
  }

  .topNavCategories {
    display: none;
  }
  .topNav3Clone{
    /*Change top in order to raise or lower button positions*/
    position: fixed;
    left: 0;
    top: 118px;
    width: 100%;
    height: 60px;
    background: transparent;
    z-index: 2;
    /*border: 1px solid yellow;*/
  }

  /*.topNav2 {
    position: fixed;
    left: 0;
    top: 60px;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #acacad;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }*/


  .btn-select {

    width: 100%;
    height: 100%;
    background: #fff;
  }

  .btn-search-mobile {
    background: #fff;
  }

  .mobile-search {
    width: 90%;
    height: 40px;
    /*left: 5%;*/
    margin: auto;
    margin-top: 10px;
    background: #ffffff;

  }
.item-mobile-search {
  width: 70%;
  display: inline-block;
}
  .mobile-search-bar {
    border-radius: 30px;
    width: 100%;
  }

  /*.hamburger-menu {
    right: 140px;
  }

  /*****LISTINGS********/

  .listings-body {
    margin-top: 120px;
    margin-left: 0;
    width: 100%;
  }

  .sidenav {
    display: none;
  }

  .maincontainer {
    /*width: 100%;*/
    left: 0;
    width: 100%;
  }

  .mobile-listing-card {
    /*position: relative;*/
    width: 98%;
    /*height: 20%;*/
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    border: none;
    /*border: 1px, rgb(177, 177, 177);
    border-color: rgb(209, 209, 209);
    /*border: 1px solid black;*/
  }

  .card-bookmark-mobile{
    overflow: hidden;
    padding: 5px;
    position: relative;

    border: none;
      box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.5);
      transition: 0.3s;
      width: 98%;
      /*margin-left: 30px;*/
      border-radius: 0px 0px 5px 5px;
      background-color: white;
      text-align : left;
      border: 1px, rgb(177, 177, 177);
      border-color :rgb(209, 209, 209);
  }

  .listingPic-mobile {
    position: relative;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }


  .card-grid {
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;
    grid-template-columns: 20% 30% ;
   /* grid-template-rows: 100%;*/
    padding-left: 0px;
    padding-top: 1px;
    /*border: 1px solid red;*/
  }

  .listingDetails-mobile {
    width: 100%;
    height: 100%;
  }

  .listingDetails-mobile p {
    word-wrap: break-word;
  }

  .listingName-mobile {
    position: relative;
    width: 400px;
    left: 5%;
    top:0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    padding-left: 15px;

    color: #000000;
  }

  .listingDescription-mobile {
    position: relative;

    left: 5%;
    top:0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    padding-left: 15px;

  }

  .maincontainer-mobile {
   /* left: 220px; */
    width: 100%;
    align-content: center;
    /*height: 100%;*/
    margin-right: auto;
    margin-left: auto;
    border-left: 3px solid #b4b4b4;
    /*background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;*/
    padding-bottom: 20px;
    /*border: 1px solid red;*/
  }

  .catName-mobile {
    position: relative;
    width: 100%;
    height: 20px;
    /*margin-left: 20px;*/
    top:0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    text-align: left;
    padding-left: 15px;

    color: #000000;
    /*border: 1px solid red;*/
}

  .gridListings {display: none;}
.mobile-card-view {display: flex; flex-direction: column; word-wrap: break-word; /*border: 1px solid yellow;*/}
  .mobile-card-view p {word-wrap: break-word;}
  .maincontainer{display: none;}
  .maincontainer-mobile{display: block;}
  .landing-maincontainer{display: none;}
  .landing-maincontainer-mobile{display: block;}
  .landing-topImage-mobile{display: block;}
  .landing-topImage{display: none;}
  .slideshow-container{display: none;}
  .slideshow-container-mobile{display: none;}
  .selectedItemCard{display: none;}
  .selectedItemCard-mobile{display: block;}
  .sellerInfoCard-mobile{display: block;}
  .sellerInfoCard{display:none}
  .space-SL{display: none;}
  .selected-content{display: none;}
  .selected-content-mobile{display: block;}
  .topNav2{display: block;}
  .topNavCatGridTransparent{display: none;}
  .topnav3Clone{display: none;}
.createListing-container-mobile{display: block;}
.createListing-container{display: none;}
    /*SELECTED LISTING PAGE*/
  .buyer-email {
    width: 100%;
    }

    .seller-email {
      width: 100%;
    }

    .selected-content-mobile {
      /*top: 30%;*/
      margin-top: 150px;
      width: 100%;
      padding-bottom: 20px;
      justify-content: center;
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
    }

  .selectedItemCard-mobile {
      /*position: relative;*/
      width: 90%;
      /*height: 60%;*/
      margin: auto;
      margin-top: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
      transition: 0.3s;
      border-radius: 5px;
      background-color: white;
      padding-bottom: 10px;
      border: 1px, rgb(177, 177, 177);
      border-color: rgb(209, 209, 209);
      /*border: 1px solid black;*/
    }

  .selectedItemGrid-mobile {
      display: grid;
      /*justify-content: space-evenly;*/
      grid-template-columns: 90% ;
      grid-template-rows: 200px 50%;
      padding-left: 10px;
      padding-top: 10px;
    }

    .sellerInfoCard-mobile {
      position: relative;
      width: 90%;
      /*height: 90%;*/
      margin: auto;
      margin-top: 15px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
      transition: 0.3s;
      border-radius: 5px;
      background-color: white;
      border: 1px, rgb(177, 177, 177);
      border-color :rgb(209, 209, 209);
      /*border: 1px solid black;*/
    }

    .listingImage-mobile {
      width: 80%;
      height: 80%;
      object-fit: cover;
      /*border: 1px solid blue;*/

    }

    .sellerInfoGrid-mobile {
      display: grid;
      /*justify-content: space-evenly;*/
      grid-template-columns: 100% ;
      grid-template-rows: 190px 40% 25%;
      padding-left: 10px;
      padding-top: 10px;
      /*border: 1px solid pink;*/
    }

    /*LANDING PAGE*/
    .landing-maincontainer-mobile{

      width: 100%;
      padding-top: 5%;
      /*padding-bottom: 5%;*/
      margin-top: 60px;
      /*margin-bottom: 75px;*/
      left: 0px;
      right: 0;
      align-content: center;
      display: flex;
      flex-direction: column;
      /*border: 1px solid red;*/
      /*background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;*/
    }

    .grid-mobile {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      padding: 10px;

    }

    .card-mobile {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: white;
      margin-right: 10px;
      text-align : center;
      border: 1px, rgb(177, 177, 177);
      border-color :rgb(209, 209, 209);
      display: inline-block;
      overflow: hidden;
      border: none;

    }

    .card-mobile-scroll {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 55%;
      height: 50%;
      border-radius: 5px;
      background-color: white;
      margin-right: 10px;
      text-align : center;
      border: 1px, rgb(177, 177, 177);
      border-color :rgb(209, 209, 209);
      display: inline-block;
      overflow: hidden;
      border: none;

    }

    .card-title {
      word-break:all ;
      font-size: 18px;
    }

    .slideshow-container-mobile {
      width: 100%;
      height: 30%;
      margin-top: 120px;
      /*max-width: 1442px;
      max-height: 500px;*/
      position: relative;
      /*border: 1px solid yellow;*/
    }

/************************ MOBILE VIEW FORM ***********************************/

    .registration-container {display: none;}
    .login-wrap {display: none;}
    .mobile-login-replace{display: block;}

}

/*********************************END OF MOBILE VIEW**********************************/

.card-description{
  color:#656565;
  font-family: Roboto;
}

.filterNames {
  color:#000000;
  font-family: Roboto;
  margin-top: 10px;
}

.filterField {
  width: 90%;
  box-sizing: border-box;
  border: none;
  margin-top: 10px;
  border-bottom: 2px solid rgb(136, 136, 136);
}

.applyFilter {
  position: relative;
  width: 30%;
  height: 7%;
  left: 10;
  top: 5;
  border: 2px solid #000;
  background: #fff;
  border-radius: 10px;
}


.lineProfile {
  position: relative;
  width: 80%;
  height: 0px;
  left: 5%;
  top: -35px;

  border: 1px solid #000000;
}

.selected-content {
  margin-top: 60px;
  width: 100%;
  padding-bottom: 30px;
  justify-content: center;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
  /*border: 1px solid red;*/
}

.selectedItemCard {
  /*position: relative;*/
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  border: 1px, rgb(177, 177, 177);
  border-color: rgb(209, 209, 209);
  /*border: 1px solid yellow;*/
}

.selected-card {
  width: 80%;
  /*height: 300px;*/
  margin: auto;
  /*border: 1px solid red;*/
}

.selected-img {
  height: 298px;
  /*border: 1px solid green;*/
}

.selected-img img {
  width: 80%;
  max-height: 100%;
  object-fit: cover;
}

.selectedItemGrid {
  display: grid;
  /*justify-content: space-evenly;*/
  grid-template-columns: 20% 30% ;
  grid-template-rows: 500px;
  padding-left: 10px;
  padding-top: 10px;
  border: 1px solid black;
}

.listingImage {
  width: 70%;
  height: 130px;
  object-fit: cover;
  /*border: 1px solid green;*/
}


.listingPic {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px, rgb(177, 177, 177);
  border-color: rgb(209, 209, 209);
}

.listingDetails {
  width: 100%;
  /*height: 100%;*/
  /*border: 1px solid red;*/
}

.listingName {
  position: relative;
  max-width: 100%;
  /*left: 5%;*/
  top:0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  text-align: left;
  /*padding-left: 15px;*/
  /*border: 1px solid pink;*/

  color: #000000;
}

.listingDescription {
  /*position: relative;
  width: 100%;
  /*left: 5%;*/
  top:0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /*text-align: left;
  /*padding-left: 15px;*/
  /*border: 1px solid green;*/

}

#listings {
  /*border: 1px solid red;*/
  color: #444444;
}

.sellerInfoCard {
  position: relative;
  width: 80%;
  /*height: 65%;*/
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  border: 1px, rgb(177, 177, 177);
  border-color :rgb(209, 209, 209);
}

.contact-seller {
  padding-top: 10px;
  border: 1px solid rgb(255, 255, 255);
  /*border: 1px solid yellow;*/
}
.email-sent {

}

.buyer-email {
  width: 70%;
  margin-bottom: 10px;
}

.seller-email {
  width: 70%;
  height: 40%;
  margin-bottom: 10px;
}
.contact_us{
  margin-left: 0px;
}
.content_container{
  margin-left: 10px;
}
.About{
  /*space between the contact us text box and the about description*/
  padding-left: 25px;
}
@media only screen and (max-width: 767px) {
  .About{
    padding-left: 0px;
  }
}
.customer-email{
  width: 300px;
  margin-bottom: 10px;
}
.customer-message{
  width: 98%;
  height: 200px;
  margin-bottom: 10px;
}

.listingDetails .addToCart-btn {
  margin-top: 10px;
}

.mobile-card-view .addToCart-btn {
  margin-top: 10px;
  margin-left: 10px;
}

.addToCart-btn {
  /*position: relative;*/
  margin: auto;
  margin-left: 10px;
  transition-duration: 0.4s;
  background-color: white;
  /*color: black;
  border: 2px solid #434546;*/
  left: 10%;
}

/*.addToCart-btn:hover {
  background-color: ##63d6df; /* Green */
/*  color: white;
}*/

.sellerInfoGrid {
  display: grid;
  /*justify-content: space-evenly;*/
  grid-template-columns: 35% 40% 25% ;
  grid-template-rows: 400px;
  padding-left: 10px;
  padding-top: 10px;
}

.sellerImage {
  width: 50%;
  height: 140px;
  object-fit: cover;
  /*border: 1px solid blue;*/
}


.sellerPic {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-seller {
  position: relative;
  width: 400px;
  height: 83px;
  top:0px;
  margin: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  text-align: left;

  color: #000000;
  /*border: 1px solid red;*/
}

.createListing-container {
  /* left: 220px; */
  margin-top: 120px;
  width: 100%;
  /*height: 100%;*/
  align-content: center;
  border-left: 3px solid #b4b4b4;

  padding: 50px 5px 40px 5px;
  border: 1px solid green;
}

.create-listing-form{
  /*display: flexbox;*/
  overflow: auto;
  width: 80%;
  margin: auto;
}

.reg-img {
  width: 100%;
  margin-bottom: 5%;
}

.reg-img2 {
  width: 50%;
  margin-bottom: 5%;
}

.create-listing-form input {
  width: 100%;
}

.create-listing-img {
  width: 50%;
  height: 40%;
  margin: auto;

}

.create-listing-title {
  color: rgb(31, 112, 160);
  font-family: 'Hammersmith One', sans-serif;
  font-size: 20px;
}

.createListingCard {
  position: relative;
  /*width: 40%;*/
  /*height: 200%;*/
  margin: auto;
  display: flex;
  /*flex-wrap: wrap;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  padding: 20px 0 20px 0;
  border: 1px, rgb(177, 177, 177);
  border-color :rgb(209, 209, 209);
  /*border: 1px solid red;*/
  margin-bottom: 10%;
}

.createListing-container-mobile {
  /* left: 220px; */
  margin-top: 120px;
  width: 100%;
  /*height: 100%;*/
  align-content: center;
  border-left: 3px solid #b4b4b4;

  padding: 50px 5px 40px 5px;
  /*border: 1px solid green;*/
}

.createListingCard-mobile {
  position: relative;
  /*width: 40%;*/
  /*height: 200%;*/
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  padding: 20px 0 20px 0;
  border: 1px, rgb(177, 177, 177);
  border-color :rgb(209, 209, 209);
  /*border: 1px solid red;*/
  margin-bottom: 10%;
}

.create-listing-form-mobile{
  display: flexbox;
  overflow: auto;
  width: 80%;
  margin: auto;
}

.login {
  height: 50px;
  width: 50px;
  /*border: 1px solid yellow;*/
}

.signUp {
  position: relative;
  top:10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  /*border: 1px solid red;*/
}

/***********************************************FORM*****************************************/


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  padding-top: 60px;
  /*border: 1px solid red;*/
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  left: 0;
  top: 60px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  /*padding-top: 60px;
  /*border: 1px solid red;*/
}

.close2 {
  /* Position it in the top right corner outside of the modal2 */
  position: absolute;
  left: 32%;
  top: 0;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.all-cat-sidenav {
  margin-top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: #fff;
}

.animated{
  -webkit-animation:alternate
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: #acacad;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.animate2 {
  -webkit-animation: animatezoom 0.9s;
  animation: animatezoom 0.9s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}




.sign-up h1, .overlay-panel h1 {
  font-weight: bold;
  margin: 0;
}


.overlay p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.registration-container span {
  font-size: 12px;
}

.social-container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.registration-container button {
  border-radius: 20px;
  border: 2px solid #0083B0;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

/*.btn-sign {
  border: none;
}*/

.registration-container button:active {
  transform: scale(0.95);
}

.registration-container button:focus {
  outline: none;
}

.registration-container button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.sign-up {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.sign-up-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.registration-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 768px;
  max-width: 100%;
  min-height: 600px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.registration-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.registration-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 3;
}

.registration-container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

.overlay {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
    transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.registration-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.registration-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.regitration-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.MapContainer{
  margin-top: 5%;
  margin-left: 2%;

}
.Map{
  background: #2f3f47;
  margin-right: 25px;
}
.CampusMap{
  position: relative;
  top: 0;
  left: 0;
}
.Coordinate{
  width: 20px;
  height: 30px;
}
