{% extends "base.html"%}
{% load static %}

{% block title %}Login{% endblock %}

{%block content %}
	<div class="createListing-container">
		
		<div class="createListingCard">
			<div class="login-form-header"><b><h2 class='create-listing-title'>Sign In to your account</h2></b></div>

			<h5 style="color:red;">{{form.errors}}</h5>
			<form class = 'create-listing-form-mobile' method= 'POST' enctype = 'multipart/form-data'>
				{% csrf_token %}
				<input type='email' name='Email' class ='customer-email form-control' placeholder='Email'>
				<input type='password' name='Password' class ='customer-email form-control' placeholder='Password'>
				<button class='btn btn-outline-primary' type='submit'>Sign in</button>
				<br></br>
				<h2 class='create-listing-title' style='font-size:16px'>Don't have an account yet?</h2>
				<a href="{% url 'register' %}">Sign Up</a>
			</form>
			<br></br>
		</div>
	</div>

{% endblock %}
