{% extends "base.html"%}
{% load static %}

{% block title %}Login{% endblock %}

<!DOCTYPE html>
<html>
<body>
{%block content %}
<div class="createListing-container">
<h2 class='create-listing-title' style='margin-top:10%;' align=center  >Sign In to your account</h2>
 <div class="createListingCard">

			<h5 style="color:red;">{{form.errors}}</h5>
			<form class = 'create-listing-form-mobile' method= 'POST' enctype = 'multipart/form-data'>
			{% csrf_token %}
				<input type='email' name='Email' class ='customer-email form-control' placeholder='Email'>
				<input type='password' name='Password' class ='customer-email form-control' placeholder='Password'>
				<button class='btn btn-outline-primary' type='submit'>Sign in</button>
        <br></br>
        <h2 class='create-listing-title' style='font-size:16px'>Don't have an account yet?</h2>
        <a href="{% url 'register' %}">Sign up</a>
			</form>
      <br></br>
	</div>
 </div>
</div>
<div class='mobile-login-replace'>

<div class="createListing-container-mobile" style='margin-top: 20px;' >
	<div class = 'createListingCard-mobile'>
			<div class='create-listing-img'>
				<img class= "reg-img" src="{%static "images/register.jpg"%}" >
				<h2 class='create-listing-title' align=center >Log In to your account</h2>
		    </div>
			<div class='space'>  </div>
			<h5 style="color:red;">{{form.errors}}</h5>
			<form class = 'create-listing-form-mobile' method= 'POST' enctype = 'multipart/form-data'>
			{% csrf_token %}
				<input type='email' name='Email' class ='customer-email form-control' placeholder='Email'>
				<input type='password' name='Password' class ='customer-email form-control' placeholder='Password'>
				<button class='btn btn-outline-primary' type='submit'>Sign in</button>
        <br></br>
        <h2 class='create-listing-title' style='font-size:16px'>Don't have an account yet?</h2>
        <a href="{% url 'register' %}">Sign up</a>
			</form>
      <br></br>
	</div>

</div>

</body>
</html>
{% endblock %}
